.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.sort-container {
  display: flex;
  align-items: center;

}

.sort-container img, .sort-container p {
  height: 20px;
}

.post-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-container {
  width: 45%;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.topic-author {
  display: flex;
  gap: 50px;
}
