.arrow-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .sort-container {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
    }
    img {
      height: 40px;
    }
  }
  .create-post-button {
    font-size: 1.5rem;
    border-radius: 10px;
    button {
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
    margin-left: 50px;
    margin-top: 20px;
    background-color: #795dc7;
    color: white;
    padding: 10px 20px;

  }
}
.post-list-container {
  margin: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .post-container {
    width: 45%;
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      font-size: 1.3rem;
    }
    border: 0 solid #000;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .topic-author {
    display: flex;
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .arrow-create {
    flex-direction: column;
   .create-post-button {
     margin-left: 20px;
   }

    button {
      padding: 0;
      margin-bottom: 30px;
    }
    .sort-container {
      .sort-arrow {
        padding-left: 80px;
        display: flex;
      }
    }
  }
  hr {
    margin-top: 2px;
  }
  .post-list-container {

    .post-container {
      width: 100%;
    }
  }
}

::ng-deep app-header .header {
  @media (max-width: 767px) {
    padding: 0 !important;
    align-items: end !important;
    justify-content: center !important;
    .logo-image {
      width: 30%;
      position: absolute;
      left: 3%;
    }

  }
}





