<app-header></app-header>
<hr>
<div class="arrow-create">
  <button mat-raised-button class="create-post-button" (click)="createPost()">Créer un article</button>
  <div class="sort-container">
    <div class="sort-arrow" (click)="sortByCreatedAt()">
      <p>Trier par</p>
      <img src="assets/down-arrow.jpg" alt="flèche vers le bas">
    </div>
  </div>
</div>

<div class="post-list-container">
  <div class="post-container" *ngFor="let post of posts" [routerLink]="['detail',post.id]">
    <h2>{{post.title}}</h2>
    <div class="topic-author">
      <p>{{post.createdAt}}</p>
      <p>{{post.authorUsername}}</p>
    </div>
    <div class="post-content">
      <p mat-line class="clamp-lines">{{post.content}}</p>
    </div>
  </div>
</div>
