.arrow-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.sort-container {
  display: flex;
  align-items: center;

}

.sort-container img, .sort-container p {
  height: 20px;
}

.post-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-container {
  width: 45%;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.topic-author {
  display: flex;
  gap: 50px;
}

.create-post-button {
  margin-top: 20px;
  background-color: #795dc7;
  color: white;
}

@media (max-width: 767px) {
  .arrow-create {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
  }
  hr {
    margin-top: 2px;
  }
}

::ng-deep app-header .header {
  @media (max-width: 767px) {
    width: 100% !important;
    align-items: end !important;
    justify-content: center !important;

    .active {
      text-decoration: underline;
      color: violet;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .logo-image {
      width: 20%;
      position: absolute;
      left: 3%;
    }

    .profile-image {
      display: flex !important;
    }

  }
}





