<div class="header">
  <button (click)="createPost()">Créer un article</button>
  <div class="sort-container">
    <p>Trier par <img src="assets/down-arrow.jpg" alt="flèche vers le bas"></p>
  </div>
</div>

<div class="post-list-container">
  <div class="post-container" *ngFor="let post of posts" [routerLink]="['detail',post.id]">
    <h2>{{post.title}}</h2>
    <div class="topic-author">
      <p>{{post.topicName}}</p>
      <p>{{post.authorUsername}}</p>
    </div>
    <div class="post-content">
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
