.topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

app-topic {
  flex: 0 0 48%;
  margin-bottom: 1em;
}


@media (max-width: 767px) {
  .topic-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

