.form-container {
  width: 33%;
  margin: 1.3rem auto;

  .header {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    .back-arrow {
      position: absolute ;
      left: 1.3rem;
      height: 1.5em;
      width: 3rem;
    }

    h1 {
      margin: auto;
      font-weight: bold;
    }
  }

  form {
    width: 40%;
    margin: auto;
    .form-group {
      margin-bottom: 1.3rem;
      select,
      input,
      textarea {
        width: 100%;
        padding: .63rem;
        box-sizing: border-box;
        border-radius: .63rem;
        border: 2px solid #795dc7;
        color: gray;
        font-size: 1.1rem;
      }

      textarea {
        resize: none;
        height: 13rem;
      }
    }

    button {
      display: block;
      margin: 30px auto;
      background-color: #7763C5;
      color: #FFFFFF;
      font-weight: 700;
      font-size: 1.1rem;
      padding: 0.3rem 2.5rem;
      border-radius: 0.6rem;
    }
  }
}


@media (max-width: 767px) {
  .form-container {
    width: 95%;
    margin: auto;
    .header {
      width: 100%;
      flex-direction: column;
      align-items: center;

      img {
        position: static;
      }

      h1 {
        margin-top: 1.9rem;
        text-align: center;
        width: 100%;
        letter-spacing: .25rem;
      }
    }

    form {
      width: 100%;
      margin: auto;
      .form-group {
        width: 100%;
        select, input, textarea {
          width: 100%;
        }
      }
    }

  }
}

