.container {
  width: 100%;
  margin: auto;
  hr {
    width: 95%;
    @media (max-width: 767px) {
      width: 95%;
    }
  }
  .user-form-exist {
    .user-profile-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .error_message {
        box-sizing: border-box;
        color: red;
        font-size: 1.2rem;
        margin: 1rem 1rem;
      }

      .profil-title {
        display: flex;
        align-items: center;
        text-align: center;
        h1 {
          margin-top: 1rem;
          margin-left: 1.3rem;
          font-weight: 700;
          font-size: 1.6rem;
        }
      }

      .form-userProfil {
        @media (max-width: 767px) {
          width: 100%;
        }
        form {
          width: 33%;
          @media (max-width: 767px) {
            width: 90%;
          }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        .fg {
          margin-bottom: 1.3rem;
          width: 100%;
          input {
            width: 100%;
            padding: .63rem;
            border-radius: 0.5rem;
            border: 2px solid #795dc7;
            font-size: 1.2rem;
          }
        }
        .save-logout {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          button {
            background-color: #7763C5;
            color: #FFFFFF;
            font-weight: bold;
            padding: 0.6rem 1.6rem;
            border-radius: .5rem;
            border: none;
            font-size: 1.1rem;
          }

          a {
            margin-top: .3rem;
            font-weight: 700;
            color: #A40F0F;
            font-size: 1rem;
          }
        }
      }

    }
  }

  .subscriptions {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    h2 {
      margin-top: 0.6rem;
      font-size: 1.8rem;
      font-weight: bold;
    }

    .topics-container {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      @media (max-width: 767px) {
        flex-wrap: nowrap;
        flex-direction: column;
      }
      .topic {
        display: flex;
        flex-direction: column;
        flex-basis: 48%;
        margin: 1.3rem 0.6rem;

        background-color: #F5F5F5;

        h3, p {
          margin: .63rem 0.63rem;
          text-align: left;
          padding-left: .63rem;
        }

        h3 {
          font-weight: bold;
          font-size: 1.3rem;
        }

        p {
          line-height: 1.5em;
          font-size: 1.2rem;
        }
        .clamp-lines {
          font-size: 1.3rem;
          line-height: 1.5em;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      button {
        margin: .63rem auto;
        background-color: #795dc7;
        color: white;
        font-weight: bold;
        padding: .63rem 1rem;
        border-radius: .5rem;
        border: none;
        font-size: 1.1rem;
      }
    }
  }
}
