.container {
  width: 100%;
  margin: auto;
  hr {
    width: 100%;
  }
  .user-form-exist {

    .user-profile-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .profil-title {
        display: flex;
        align-items: center;
        text-align: center;
        h1 {
          margin-top: 15px;
          margin-left: 20px;
          font-weight: bold;
          font-size: 1.6rem;
        }
      }

      .form-userProfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        .fg {
          margin-bottom: 20px;
          input {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 2px solid #795dc7;
            font-size: 1.2rem;
          }
        }
        .save-logout {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          button {
            background-color: #795dc7;
            color: white;
            font-weight: bold;
            padding: 10px 15px;
            border-radius: 8px;
            border: none;
            font-size: 1.1rem;
          }

          a {
            margin-top: 5px;
            font-weight: bold;
            color: #c75163;
            font-size: 0.8rem;
          }
        }
      }

    }
  }

  .separator {
    hr {
      width: 90%;
      border: none;
      border-top: 1px solid black;
      height: 1px;
    }
  }

  .subscriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin-top: 10px;
      font-size: 1.8rem;
      font-weight: bold;
    }

    .topics-container {
      width: 60%;
      display: flex;
      flex-wrap: wrap;

      .topic {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        margin: 20px 20px;
        background-color: rgba(128, 128, 128, 0.2);

        h3, p {
          margin: 10px 10px;
          text-align: left;
          padding-left: 10px;

        }

        h3 {
          font-weight: bold;
          font-size: 1.3rem;
        }

        p {
          line-height: 1.5em;
          font-size: 1.2rem;
        }
        .clamp-lines {
          font-size: 1.3rem;
          line-height: 1.5em;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      button {
        margin: 10px auto;
        background-color: #795dc7;
        color: white;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 8px;
        border: none;
        font-size: 1.1rem;
      }
    }
  }
}

::ng-deep app-header .header {
  @media (max-width: 767px) {
    padding: 0 !important;
    align-items: end !important;
    justify-content: center !important;
    .logo-image {
      width: 30%;
      position: absolute;
      left: 3%;
    }
    .nav-small {
      width: 160px !important;
    }
  }
}

@media (max-width: 767px) {
  .user-form-exist {
    width: 100%;
    margin: auto;
    .user-profile-title {
      width: 100%;
      .form-userProfil {
        width: 100%;

        form {
          width: 95%;
          .fg {
            width: 95%;
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .subscriptions {

    .topics-container {
      width: 100% !important;
      display: initial !important;
    }
  }
}
