.back-arrow {
  height: 1.5rem;
  position: absolute;
  margin-left: 40px;
  margin-top: 30px;
}
.container {
  padding-top: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .user-form {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }

  button {
    padding: 10px 25px;
    background-color: #795dc7;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .button-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: red;
    margin: 15px auto;
    font-weight: bold;
  }
}

@media (max-width: 767px) {

  .container {
    width: 100%;
    padding: 0;
    .user-form {
      width: 50%;
    }
  }

  .back-arrow {
    position: fixed;
    top:  20px;
    left: 20px;
  }

}


