*{
  margin: 0;
  padding: 0;
}
.center {
  height: 90vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mat-card {
    border: none;
    width: 70%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    border-radius: .5rem;
    margin-bottom: 6.3rem;
    .centered-text {
      font-weight: 600;
      font-size: 1.2rem;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      @media (max-width: 767px) {
        font-weight: 400;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }

    img {
      width: 50%;
      height: auto;
      @media (max-width: 767px) {
        width:50%;
      }
    }

    a {
      width: 80%;
      text-align: center;
    }
  }
  .container {
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .square {
    border: 1px solid black;
    margin: 1.3rem 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    width: 377px;

    a {
      text-decoration: none;
      margin: 5px 0;
    }
  }
}

.mat-card:hover {
  box-shadow: none;

}
.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .center {
    .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      .square  {
        width: 200px;
      }
    }
  }
}
