<app-header></app-header>
<div *ngIf="post" class="post-container">
  <div class="post-header">
    <a routerLink="/posts"><img src="assets/back-arrow.png" alt="Retour"></a>
    <h1 class="post-title">{{ post.title | titlecase }}</h1>
  </div>
  <div class="main-content">
    <div class="post-info-content">
      <div class="post-details">
        <p>{{ post.createdAt | date }}</p>
        <p class="author">{{ post.authorUsername | titlecase}}</p>
        <p>{{ post.topicName }}</p>
      </div>
      <div class="post-content">
        <p>{{ post.content }}</p>
      </div>
    </div>

    <div class="comment-container">
      <hr>
      <div class="title-commentaires"><h2>Commentaires</h2></div>
      <div class="comments-card">
        <div class="comments">
          <div *ngFor="let comment of post.comments" class="comment-line">
            <div class="username-comment">
              <div class="username-div">
                <p class="username">{{ comment.authorUsername }}</p>
              </div>
              <div class="comment-content">{{ comment.content }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>

</div>

<div class="commentForm" *ngIf="commentForm">
  <form [formGroup]="commentForm" (ngSubmit)="createComment()">
    <div class="form-group comment-input">
      <div class="text-area"><textarea formControlName="content" placeholder="Écrivez ici votre commentaire" rows="5"></textarea></div>
      <div class="send-submit">
        <button type="submit" [disabled]="commentForm.invalid">
          <img src="assets/send-icon.png" alt="Envoyer">
        </button></div>
    </div>
  </form>
</div>
